.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(73, 79, 82);
  color: white;
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.centerList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 500px;
  height: 1900px;
  align-content: space-between;
  text-align: center;
}

.centerList2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 500px;
  height: 1500px;
  align-content: space-between;
  text-align: center;
  padding-top: 50px;
}

.col {
  flex: 1; /* additionally, equal width */

  padding: 1em;
  border: outset;
}
.col2 {
  padding: 1em;
  border: outset;
}

.center {
  text-align: center;
}
.right {
  float: right;
}

.centerForm {
  position: absolute;
  width: 1000px;
  height: 200px;
  top: 20%;
  left: 45%;
  margin-left: -50px; /* margin is -0.5 * dimension */
  margin-top: 20px;
}
.centerMiddle {
  position: absolute;
  width: 100px;
  height: 50px;
  top: 50%;
  left: 50%;
  margin-left: -50px; /* margin is -0.5 * dimension */
  margin-top: -25px;
}

.centerMiddle2 {
  position: absolute;
  width: 1000px;
  height: 200px;
  top: 30%;
  left: 35%;
  margin-left: -50px; /* margin is -0.5 * dimension */
  margin-top: -25px;
}

.wrapAround {
  word-wrap: break-word;
}

.topSpace {
  padding: 100px;
}
.moveRight {
  padding-left: 40px;
}

.Next {
  display: inline-block;
  margin-top: 100px;
  margin-left: 45%;
  margin-bottom: 100px;
}

.Previous {
  margin-left: 40%;
  bottom: 1000px;
}
